<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialogue Digital - Dashboard</title>
    <link rel="stylesheet" href="/css/admin/aside.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/images/DialogueLogo.webp" width="200em" style="border-radius: 15px;">
        </div>
        <nav class="sidebar-menu">
            <a href="/admin/dashboard" class="menu-item">
                <i class="fas fa-tachometer-alt icon"></i> Dashboard
            </a>
            <a href="/admin/sale-report" class="menu-item">
                <i class="fas fa-chart-line icon"></i> Sales
            </a>
            <a href="/admin/products" class="menu-item">
                <i class="fas fa-box icon"></i> Product
            </a>
            <a href="/admin/orders" class="menu-item">
                <i class="fas fa-shopping-cart icon"></i> Orders
            </a>
            <a href="/admin/users" class="menu-item">
                <i class="fas fa-users icon"></i> Users
            </a>
            <a href="/admin/brands" class="menu-item">
                <i class="fas fa-list icon"></i> Brands
            </a>
            <a href="/admin/category" class="menu-item">
                <i class="fas fa-tag icon"></i> Categories
            </a>
            <a href="#" class="menu-item">
                <i class="fas fa-cog icon"></i> Settings
            </a>
            <a href="/admin/coupon" class="menu-item">
                <i class="fas fa-ticket-alt icon"></i> Coupons
            </a>

            <a href="/admin/offers" class="menu-item">
                <i class="fas fa-money-bill-wave"></i> Offers
            </a>

            <a href="/admin/logout" class="menu-item logout">
                <i class="fas fa-sign-out-alt icon"></i> Logout
            </a>
        </nav>
    </aside>